<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="com.edifylabs.noter.TestPlugin"
    version="1.0.0">
    <name>TestPlugin</name>
    <description>
        A Cordova sample plugin
    </description>
    
    <js-module src="www/TestPlugin.js" name="TestPlugin"></js-module>
    
    <engines>
        <engine name="cordova" version=">=2.7.0" />
    </engines>
    
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="plugins">
            <plugin name="TestPlugin" value="com.edifylabs.noter.TestPlugin"/>
        </config-file>
        <source-file src="src/android/TestPlugin.java"
        target-dir="src/com/edifylabs/noter" />
    </platform>
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*/plugins">
            <plugin name="TestPlugin" value="TestPlugin" onload="true" />
        </config-file>
        
        <config-file target="config.xml" parent="/widget">
            
            <feature name="TestPlugin">
                <param name="ios-package" value="TestPlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/TestPlugin.h" />
        <source-file src="src/ios/TestPlugin.m" />
    </platform>
</plugin>